.todo__list-container {   
  display: flex;
  justify-content: center;
}
.todo__list-container ul { 
  list-style: none; 
}
.todo__list { 
  width: 50rem;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.226);
  border-radius: 5px;
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.226);
  line-height: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff; 
  font-size: 1.6rem; 
}
.todo__list li { 
  border: 1px solid rgba(255, 255, 255, 0.308); 
  border-radius: 3px; 
  padding: 1rem; 
  margin-bottom: 1rem; 
  display: grid; 
  grid-template-columns: 4fr 1fr;
  grid-column-gap: 5px; 
}
.todo__list .task { 
  border-right: 1px solid #eee; 
  text-align: left;
}
.todo__list .deadline-date { 
  border: 1px solid rgb(0, 255, 42); 
  height: fit-content; 
  border-radius: 3px; 
  padding: .5rem; 
  background-color: rgba(35, 201, 13, 0.685);  
  font-size: 1.5rem; 
}